<hr>

<div class="container form-container">
  <div class="grid">
 	<div class="unit span-grid login">
<%= form_for @entry do |f| %>
<%= render "shared/error_messages", :target => @entry %>
<fieldset>
	<%= f.label :title %>
    <%= f.text_field :title %>
</fieldset>
<fieldset>
	<%= f.label :description %>
	<%= f.text_area :description %>
</fieldset>
<fieldset>
	<%= f.label :tag_list, "Tags" %>
	<%= f.text_field :tag_list %>
</fieldset>
<fieldset>
	<%= f.label :landlord_id, "Landlord ID" %>
	<%= f.text_field :landlord_id %>
</fieldset>
<fieldset>
	<%= f.label :guide_id, "General ID" %>
	<%= f.text_field :guide_id %>
</fieldset>
<%= f.submit 'Create Entry', :class => "submit" %>
<% end %>
	</div>
  </div>
</div>