<div class="container">
  <div class="grid">
	<div class="unit span-grid">
		<% if current_user %>
	<% if can? :update, @entry %> 
	<%= link_to 'Add new entry', new_entry_path(@entry), :class => "new-entry" %>
	<% end %>
		<% else %>
	<a href="#" onclick="document.getElementById('guides').style.display='block';" class="new-entry">Browse our guides</a>
	<div id="guides" style="display:none;">
		<p><%= link_to "Landlord", 'http://nameless-hollows-8069.herokuapp.com/tags/Landlord' %> &#124; 
		<%= link_to "General", 'http://nameless-hollows-8069.herokuapp.com/tags/General' %>
		</p>
	</div>
	<% end %>
	</div>
  </div>
</div>

<hr>

<div class="container">
  <div class="grid entries">
<% @entries.each do |entry| %>
	<%= content_tag(:div, class: 'unit one-of-two entry') do %>
		<h3><%= link_to entry.title, entry %></h3>
		<p><%= entry.description.html_safe %></p>
	<% end %>
<% end %>
  </div>
</div><!-- end .container -->