<hr>

<div class="container single-post">
  <div class="grid">
 	<div class="unit span-grid entry">
	<h3><%= @entry.title %></h3>
	<p><%= @entry.description.html_safe %></p>
	<p class="tags">[tags: <%= raw @entry.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>]</p>
	
	<% if @next_landlord %>
		<p>Recommended reading: <%= link_to @next_landlord.title, entry_path(@next_landlord), :class => "next-guide" %></p>
	<% end %>

	<% if can? :update, @entry %> 
		<%= link_to 'Edit', edit_entry_path(@entry)%>
	<% end %>
	<% if can? :destroy, @entry %>
		<%= link_to 'Delete', entry_path(@entry), :method => 'delete'%>
	<% end %>
	</div>

  </div>
</div>