<!DOCTYPE html>
<html>
<head>
  <title>Insurance Advice Centre | A Brokers Direct Project</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/kec1gho.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div class="page-wrap">	

<div class="outer-container">	
<div class="container">
  <div class="grid">
	<nav class="unit one-of-two">
	<ul>
		<% if current_user %>
	  <li>Logged in as <%= current_user.email %> | </li>
	  <li><%= link_to "Log Out", session_path("current"), method: "delete" %></li>
		<% else %>
	  <li><%= link_to "Log In", new_session_path %></li>
	</ul>
		<% end %>
	</nav>
	
	<div class="unit one-of-two search">
		<%= form_tag entries_path, :method => 'get' do %>
	    <%= text_field_tag :search, params[:search], :class => "search-form" %>
	    	<%= submit_tag "Search", :name => nil, :class => "submit" %>
		<% end %>
	</div>
  </div>
</div>
</div>
	
<div class="container">
  <div class="grid">
	<header class="unit span-grid">
	  <h1><%= link_to 'Insurance Advice Centre', root_url %></h1>
	</head>
  </div>
</div>

<div class="container">
  <div class="grid">
	<p class="unit span-grid description">Insurance can be complicated, especially with all the jargon. <%= link_to "Brokers Direct", 'http://brokersdirect.co.uk' %> has put together an insurance advice centre with the aim of answering your frequently asked questions. <%= mail_to "info@brokersdirect.co.uk", 'Get in touch' %>, or…</p>
  </div>
</div>	

<%= yield %>

</div><!-- end page-wrap -->

<footer class="site-footer">
<div class="outer-container">	
<div class="container">
  <footer class="grid">
	<p class="unit span-grid">Insurance Advice Centre &#124; A <%= link_to "Brokers Direct", 'http://brokersdirect.co.uk' %> project</p>
  </footer>
</div>
</div>
</div>

</body>
</html>
