<!DOCTYPE html>
<html>
<head>
  <title>Insurance Advice Centre | A Brokers Direct Project</title>
  <meta name="description" content="Regularly updated guides debunking your insurance questions.">
  <link rel="author" href="https://plus.google.com/117637421334476287274/posts"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/kec1gho.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div class="page-wrap">	

<div class="outer-container">	
<div class="container">
  <div class="grid">
	<nav class="unit one-of-two login">
	<ul>
		<% if current_user %>
	  <li>Logged in as <%= current_user.email %> | </li>
	  <li><%= link_to "Log Out", session_path("current"), method: "delete" %></li>
		<% else %>
	  <li><%= link_to "Log In", new_session_path %></li>
	</ul>
		<% end %>
	</nav>
	
	<div class="unit one-of-two search">
		<%= form_tag entries_path, :method => 'get' do %>
	    <%= text_field_tag :search, params[:search], :class => "search-form", :placeholder => "Enter search term" %>
	    	<%= submit_tag "Search", :name => nil, :class => "submit" %>
		<% end %>
	</div>
  </div>
</div>
</div>
	
<div class="container">
  <div class="grid">
	<header class="unit span-grid">
	  <h1><%= link_to 'Insurance Advice Centre', root_url %></h1>
	</head>
  </div>
</div>

<div class="container">
  <div class="grid">
	<p class="unit span-grid description">Insurance can be complicated, especially with all the jargon. <%= link_to "Brokers Direct", 'http://brokersdirect.co.uk' %> is putting together a step-by-step insurance guide with the aim of answering your frequently asked questions. <%= mail_to "info@brokersdirect.co.uk", 'Submit a question', :subject => "Hey, I have an insurance question" %>, or…</p>
  </div>
</div>	

<div class="container">
  <div class="grid">
	<div class="unit span-grid">
		<% if current_user %>
	<% if can? :update, @entry %> 
	<%= link_to 'Add new entry', new_entry_path(@entry), :class => "new-entry" %>
	<% end %>
		<% else %>
	<a href="#" onclick="document.getElementById('guides').style.display='block';" class="new-entry">Browse our guides</a>
	<div id="guides" style="display:none;">
		<p><%= link_to "Landlord", '/tags/Landlord' %> &#124; 
		<%= link_to "General", '/tags/General' %>
		</p>
	</div>
	<% end %>
	</div>
  </div>
</div>

<%= yield %>

</div><!-- end page-wrap -->

<footer class="site-footer">
<div class="outer-container">	
<div class="container">
  <footer class="grid">
	<p class="unit span-grid">Insurance Advice Centre &#124; A <%= link_to "Brokers Direct", 'http://brokersdirect.co.uk' %> project</p>
  </footer>
</div>
</div>
</div>

</body>
</html>
